.payment-page-wrapper {
  padding: 20px;
  width: 90%;
  margin: 10px auto;
  background-color: #ffffff;
  border-radius: 8px;
}

.payment-page-wrapper .flight-info-summary {
  width: 100%;
}

.payment-page-wrapper .payment-methods {
  width: 100%;
}